@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-container {
  font-family: 'Roboto',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
  margin-left: 5%;
}

.logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 44px;
}

.nav {
  height: 50%;
}

.nav .link-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .link-list li {
  list-style: none;
}

.nav .link-list li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 100;
}

.nav .link-list li a:active {
  -webkit-text-decoration: line-through red;
          text-decoration: line-through red;
}

.cart-symbol {
  height: 50px;
  width: 150px;
  background-color: #ff2a46;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.cart-symbol::before {
  content: "cart";
}

.section .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 55vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-heading {
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  font-weight: 100;
  width: 700px;
}

.description {
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  width: 250px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 20%;
  right:0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.underline {
  border-radius: 50px;
  height: 4px;
  width: 40%;
  margin-top: 5%;
  background-color: lightcoral;
  position: absolute;
  display: block;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 220px;
}

.card-container .card {
  height: 17vw;
  width: 14vw;
  /* max-height: 270px;
  max-width: 220px; */
  background-color: white;
  -webkit-box-shadow: 10px 20px 90px -10px #bbbbbb;
          box-shadow: 10px 20px 90px -10px #bbbbbb;
  margin-right: 20px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          font-size: 13px;
          letter-spacing: 1px;
          color: rgb(27, 27, 27);
}

.card-img {
  background: url("./images/Mexican-Taco.jpg");
  background-size: cover;
  height: 12vw;
  width: 12vw;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
}

.ham-container {
  display: none;
}

@media (max-width: 900px) {
  body {
    background-color: white;
  }
  .body-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 98;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
  }
  .nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    background-color: yellowgreen;
  }
  .nav .link-list {
    width: 30%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 70px;
    left: -40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
  }
  .nav .link-list li {
    padding: 15%;
  }
  .nav .link-list li a {
    font-weight: 400;
  }
  .ham-container {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    z-index: 99;
  }
  .ham {
    height: 3px;
    width: 30px;
    background-color: #ff006a;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50px;
  }
  .ham::after, .ham::before {
    content: "";
    height: 3px;
    background-color: #ff006a;
    position: absolute;
    border-radius: 50px;
  }
  .ham::after {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    width: 22px;
  }
  .ham::before {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    width: 25px;
  }
  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 26px;
  }
  .cart-symbol {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50px;
    border-radius: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section .main {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        padding:20px;
        margin: 0px;
        width:90vw;
        
  }
  .main-heading {
    font-size: 32px;
    width: 270px;
    max-width: 270px;
    margin-top: 13%;
  }

  .card-container {
    height: auto;
    margin-top: 20px;
  }

  .card-container .card {
    width: 125px;
    height: 160px;
    margin: 8px;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
  }

  .card-img {
    height: 12vh;
    width: 12vh;
  }

  .description {
    margin-top: 30px;
    width: auto;
    position: static;
  }
  .cart-symbol {
    color: #ff006a;
    background-color: rgba(255, 255, 255, 0);
    font-size: 32px;
  }
  .cart-symbol::before {
    content: "";
  }
}

/*# sourceMappingURL=style.css.map */